<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="SKETCH_TTIMEEntities" connectionString="metadata=res://*/SketchTime_Model.csdl|res://*/SketchTime_Model.ssdl|res://*/SketchTime_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KRIS;initial catalog=SKETCH_TTIME;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>